<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <customErrors mode="On">
      <error statusCode="404" redirect="~/LogIn.aspx"/>
    </customErrors>
    <caching>
      <outputCache enableOutputCache="false"/>
    </caching>
    <compilation debug="true" strict="false" explicit="true"  targetFramework="4.0">
      <!--<assemblies>
        <add assembly="System.Data.OracleClient, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="office, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
        <add assembly="Microsoft.Vbe.Interop, Version=15.0.0.0, Culture=neutral, PublicKeyToken=71E9BCE111E9429C"/>
      </assemblies>-->
    </compilation>
  </system.web>

  <appSettings>
    
    <add key="cltheme" value="blue"/>
    <add key="Idle_Time" value="20"/>
    <add key="GlobalAppPath" value="E:\MarketplaceSolution-master\CattleMarketPlace"/>
    <add key="GLOBAL_APPLICATION_PATH" value="E:\MarketplaceSolution-master\CattleMarketPlace"/>
    <add key="GlobalWebPath" value="http://127.0.0.1/CMP_App/"/>
    <add key="CMPSSL" value="N"/>
    <!--add key="CMPClientID" value="1128" /-->
    <!--dEVDB-->
    <!--UAT-->
    <!--<add key="CMPClientID" value="241"/>-->
    <!--<add key="CMPClientID" value="1144" /> -->
  </appSettings>
</configuration>